

.todoList{
 

    .todoContainer{
         box-shadow: 5px 5px 10px rgb(0 0 0 / 27%);
           border: solid 1px #a1a1a117;
           border-radius: 16px;
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 40px 80px;
    }

    .todoWrapper{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .todoHeading{
        background-color: green;
        max-width: 100%;
        padding: 8px 16px;
                border-radius: 4px 4px 0 0;
    }

    .todoOutput{
              background-color: #1d1d1d5e;
        max-width: 100%;
        padding: 8px 16px;
                /* border-radius: 4px 4px 0 0; */
    }
}